@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";
@import "smart-grid";

.index-page {
  color: $color;
  font-family: "Urbanist", sans-serif;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  @include flex-column;
  box-sizing: border-box;
  position: relative;
  max-width: 2208px;
  overflow-x: hidden;
}


/* button */

.group {
  @include flex-row;
  align-items: center;
  justify-content: center;
  gap: 52px;

  span {
    max-width: 100%;
    width: 295px;
    height: 29.46px;
    background-image: url("/assets/img/button/Arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  & span:nth-child(3) {
    transform: scaleX(-1)
  }
}

.button {
  background-color: $colorTwo;
  padding: 16px 24px;
  border-radius: 40px;
  height: 70px;
  width: 563px;
  @include flex-center;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and (max-width: 1200px) {
  .button {
    width: 70%;
  }
  .group {
    gap: 10px;
  }
}


@media screen and (max-width: 510px) {
  .button {
    width: 120%;
    height: 45px;
  }

  .group {
    span {
      margin-top: 20px;
      width: 180px;
    }
  }
}

/* /button */


/* container */
.container {
  padding: 62px 9%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media screen and (max-width: 900px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* /container */

/* size */


.b2 {
  font-size: calc(35px + 61 * (100vw - 320px) / 1888);
  line-height: clamp(35px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 115px);
  font-weight: $fontWeightBold;
}

h1 {
  font-size: calc(35px + 35 * (100vw - 320px) / 1888);
  line-height: clamp(42px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 84px);
  font-weight: $fontWeightBold;
  color: $colorTwo;
}

h2 {
  font-size: calc(28px + 28 * (100vw - 320px) / 1888);
  line-height: clamp(33.6px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 67.2px);
  font-weight: $fontWeightSemiBold;
}

h3 {
  font-size: calc(22px + 22 * (100vw - 320px) / 1888);
  line-height: clamp(26.4px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 52.8px);
  font-weight: $fontWeightSemiBold;
}

.b1big {
  font-size: calc(15px + 20 * (100vw - 320px) / 1888);
  line-height: clamp(24px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 48px);
  font-weight: $fontWeightSemiBold;
}

.b1 {
  font-size: calc(16px + 16 * (100vw - 320px) / 1888);
  line-height: clamp(19.2px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 38.4px);
  font-weight: $fontWeightMedium;
}

p {
  font-size: calc(12px + 12 * (100vw - 320px) / 1888);
  line-height: clamp(14.4px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 28.8px);
  font-weight: $fontWeightMedium;
}


/* /size */


/*banner */
.banner {
  overflow: hidden;

  &__container {
    position: relative;
    padding: 64px 9%;
    @include flex-column;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: $color;
    text-align: center;
  }

  span {
    background-color: $colorThree;
    border-radius: 50px;
  }

  p {
    text-align: center;
    width: 49%;
    margin-bottom: 32px;
  }

  &__fon {
    position: absolute;
    background-color: $colorFour;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: -1;
  }
}


@media screen and (max-width: 900px) {
  .banner {
    &__fon {
      height: 55%;
    }
  }
}

@media screen and (max-width: 700px) {
  .banner {
    &__container {
      padding: 34px 20px;
    }

    p {
      width: 90%;
    }
  }
}

/* /banner */


/* video */
.video {
  height: 549px;
  width: 62%;

  &__fon {
    position: relative;
    background-color: $color;
    border-radius: 50px;
    height: 100%;
    width: 100%;
  }

  &__button {
    position: absolute;
    left: 45%;
    top: 45%;
    background-image: url("/assets/img/banner/Vector.svg");
    background-color: transparent;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-size: cover;
  }
}

@media screen and (max-width: 1600px) {
  .video {
    width: 80%;
  }
}


@media screen and (max-width: 1200px) {
  .video {
    width: 100%;
  }
}


@media screen and (max-width: 900px) {
  .video {
    height: 400px;

    &__fon {
      border-radius: 30px;
    }

    &__button {
      top: 40%;
    }
  }
}

@media screen and (max-width: 600px) {
  .video {
    height: 300px;

    &__button {
      left: 42%;
      top: 43%;
      width: 80px;
      height: 80px;
    }
  }
}


@media screen and (max-width: 400px) {
  .video {
    height: 200px;

    &__button {
      width: 60px;
      height: 60px;
    }
  }
}

/* /video */

/* stud */
.stud {
  &__container {
    padding: 80px 10%;
    @include flex-column;
    gap: 64px;

    h1 {
      color: $color;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 46px;
  }

  img {
    object-fit: contain;
  }
}

@media screen and (max-width: 1000px) {
  .stud {
    &__container {
      gap: 44px;
    }

    &__group {
      gap: 26px;
    }
  }
}

@media screen and (max-width: 800px) {
  .stud {
    &__container {
      padding: 40px 50px;
      gap: 24px;
    }

    &__group {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .stud {
    &__container {
      padding-right: 20px;
      padding-left: 20px;
      gap: 24px;
    }
  }
}

@media screen and (max-width: 360px) {
  .stud {
    h1 {
      font-size: 30px;
    }
  }
}

/* /stud */

/* learn */
.learn {
  &__container {
    padding: 40px 10%;
    @include flex-column;
    gap: 96px;
  }

  &__items {
    @include flex-column;
    gap: 96px;
  }

  &__group {
    border-radius: 16px;
    box-shadow: 5px 3px 20px 0px rgba(221, 222, 215, 1);
    @include flex-row;
    gap: 100px;
    padding: 44px;

    &:nth-child(2n) {
      flex-direction: row-reverse !important;
    }
  }

  img {
    object-fit: contain;
    width: 480px;
  }

  &__item {
    @include flex-column;
    gap: 24px;
  }

  p {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .learn {
    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .learn {
    &__container {
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}


@media screen and (max-width: 1000px) {
  .learn {
    &__container {
      gap: 56px;
    }

    &__group {
      @include flex-column;
      gap: 50px;

      &:nth-child(2) {
        flex-direction: column !important;
      }
    }

    &__items {
      gap: 56px;
    }
  }
}


@media screen and (max-width: 500px) {
  .learn {
    &__container {
      padding-right: 20px;
      padding-left: 20px;
      gap: 26px;
    }

    &__group {
      padding: 20px;
      gap: 20px;
    }

    &__items {
      gap: 26px;
    }
  }
}

/* /learn */

/*call */
.call {
  margin: 0 auto;
  background: $color;

  &__container {
    padding: 100px 9%;
    gap: 40px;
    @include flex-column;

    h1 {
      text-align: center;
    }
  }

  &__items {
    margin: 0 auto;
    @include flex-row;
    gap: 62px;
  }

  &__group {
    width: 40%;
    background-color: $colorThree;
    @include flex-column;
    gap: 32px;
    padding: 32px;
    border-radius: 32px;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
}


@media screen and (max-width: 1200px) {
  .call {
    &__container {
      padding-left: 50px;
      padding-right: 50px;
    }

    &__items {
      gap: 30px;
    }
  }
}


@media screen and (max-width: 1000px) {
  .call {
    &__items {
      @include flex-column;
      align-items: center;
    }

    &__group {
      width: 60%;
    }
  }
}


@media screen and (max-width: 700px) {
  .call {
    &__group {
      width: 320px;
    }
  }
}


@media screen and (max-width: 500px) {
  .call {
    &__container {
      padding: 50px 16px;
    }


    &__group {
      width: 280px;
      gap: 16px;
      padding: 16px;
    }

    img {
      height: 140px;
    }
  }
}

/* /call */

/* footer */
.footer {
  background: #DAD9DD;
  border-radius: 100px 100px 0 0;

  h2 {
    margin-bottom: 76px;
  }

  &__group {
    @include flex-column;
    gap: 24px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    border-radius: 75px 75px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    border-radius: 50px 50px 0 0;

    h2 {
      margin-bottom: 38px;
    }
  }
}

/* /footer */


/* time */
.time {
  &__container {
    padding: 84px 11% 120px;
    @include flex-row;
    gap: 74px;
  }

  &__img {
    position: relative;
    z-index: 1;
    width: 666px;
    height: 994px;

    img {
      object-fit: contain;
    }

  }

  &__block {
    width: 50%;

    h1 {
      margin-bottom: 23px;
    }

    p {
      margin-bottom: 79px;
    }
  }
}

@media screen and (max-width: 1700px) {
  .time {
    &__img-one {
      position: absolute;
      top: 80px !important;
      right: 40px !important;
      z-index: 2 !important;
    }
  }
}


/* /time */
