@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";
@import "smart-grid";
@import "utils/telephone";

.index-page {
  color: $color;
  font-family: "Urbanist", sans-serif;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  @include flex-column;
  box-sizing: border-box;
  position: relative;
  max-width: 2208px;
  overflow-x: hidden;
}

.active {
  display: flex !important;
}

/* button */

.group {
  @include flex-row;
  align-items: center;
  justify-content: center;
  gap: 52px;

  &__container {
    padding: 40px 9%;
    background-color: $colorThree;
  }

  span {
    width: 295px;
    height: 29.46px;
    background-image: url("/assets/img/button/Arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  & span:nth-child(3) {
    transform: scaleX(-1)
  }
}

.button {
  background-color: $colorTwo;
  padding: 16px 24px;
  border-radius: 40px;
  height: 70px;
  width: 563px;
  @include flex-center;

  &:hover {
    @include hover;
  }
}

@media screen and (max-width: 1200px) {
  .button {
    width: 70%;
  }
  .group {
    gap: 10px;

    span {
      width: 180px;
    }

    &__container {
      padding-left: 50px;
      padding-right: 50px;
    }

  }
}


@media screen and (max-width: 629px) {
  .button {
    width: 120%;
    height: 45px;

    &__time {
      width: 70%;
    }
  }

  .group {
    span {
      margin-top: 20px;
      width: 100px;
    }

    &__container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

@media screen and (max-width: 500px) {
  .group {
    span {
      margin-top: 20px;
      width: 80px;
    }
  }
}

/* /button */


/* container */
.container {
  padding: 62px 9%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media screen and (max-width: 900px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* /container */

/* size */


.b1 {
  font-size: calc(16px + 16 * (100vw - 320px) / 1888);
  line-height: clamp(19.2px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 38.4px);
  font-weight: $fontWeightMedium;
}

.b2 {
  font-size: calc(35px + 61 * (100vw - 320px) / 1888);
  line-height: clamp(35px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 115px);
  font-weight: $fontWeightBold;
}

h1 {
  font-size: calc(35px + 35 * (100vw - 320px) / 1888);
  line-height: clamp(42px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 84px);
  font-weight: $fontWeightBold;
  color: $colorTwo;
}

h2 {
  font-size: calc(28px + 28 * (100vw - 320px) / 1888);
  line-height: clamp(33.6px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 67.2px);
  font-weight: $fontWeightSemiBold;
}

h3 {
  font-size: calc(22px + 22 * (100vw - 320px) / 1888);
  line-height: clamp(26.4px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 52.8px);
  font-weight: $fontWeightSemiBold;
}

.b1big {
  font-size: calc(15px + 20 * (100vw - 320px) / 1888);
  line-height: clamp(24px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 48px);
  font-weight: $fontWeightSemiBold;
}

.s1 {
  font-weight: $fontWeightMedium;
  font-size: calc(40px + 60 * (100vw - 320px) / 1888);
  line-height: clamp(40px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 120px);
}

p {
  font-size: calc(12px + 12 * (100vw - 320px) / 1888);
  line-height: clamp(14.4px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 28.8px);
  font-weight: $fontWeightMedium;
}

.p2 {
  font-size: calc(8px + 12 * (100vw - 320px) / 1888);
  line-height: clamp(8px, calc(1.5em + 0.3 * (100vw - 320px) / 1680), 20px);
  font-weight: $fontWeightMedium;
}


/* /size */


/* header */
.header {
  &__container {
    background-color: $color;
    color: $colorThree;
    padding: 38px 14% 30px;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }

  &__group {
    align-items: center;
    @include flex-row;
    gap: 24px;

    span:nth-child(2) {
      text-transform: uppercase;
      padding: 10px;
      border: 1px solid $colorFive;
      background-color: $colorSix;
    }
  }

  h4 {
    color: $colorTwo;
  }

  &__time {
    @include flex-row;
    align-items: center;
    gap: 16px;

    span {
      @include flex-center;
      width: 44px;
      height: 58px;
      border: 1px solid $colorFive;
      background-color: $colorSix;
    }

    div {
      @include flex-row;
      gap: 6px;
    }
  }

  &__block {
    @include flex-row;
    gap: 24px;
    align-items: center;
    @include flex-row;
  }
}

@media screen and (max-width: 1700px) {
  .header {
    &__container {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}


@media screen and (max-width: 1256px) {
  .header {
    &__container {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .header {
    &__container {
      @include flex-column;
      gap: 20px;
    }

    &__time {
      span {
        width: 35px;
        height: 48px;
      }

      div {
        @include flex-row;
        gap: 6px;
      }
    }

    p {
      text-align: center;
    }
  }
}


@media screen and (max-width: 500px) {
  .header {
    &__container {
      padding: 25px 16px;
    }

    &__time {
      span {
        width: 35px;
        height: 48px;
      }

      div {
        @include flex-row;
        gap: 6px;
      }
    }

    &__group {
      width: 100%;
      justify-content: space-around;
      gap: 0;
    }
  }
}

/*/header */

/*banner */
.banner {
  overflow: hidden;

  &__container {
    position: relative;
    padding: 64px 9%;
    @include flex-column;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: $color;
    text-align: center;
  }

  p {
    text-align: center;
    width: 49%;
  }

  &__fon {
    position: absolute;
    background-color: $colorFour;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: -1;
  }
}


@media screen and (max-width: 900px) {
  .banner {
    &__fon {
      height: 55%;
    }
  }
}

@media screen and (max-width: 700px) {
  .banner {
    &__container {
      padding: 34px 20px;
    }

    p {
      width: 90%;
    }
  }
}

/* /banner */


/* video */
.video {
  position: relative;
  height: 549px;
  width: 100%;

  &__fon {
    display: none;
    background-color: $color;
    border-radius: 50px;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__play {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 50px;
  }

  &__button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/assets/img/banner/Vector.svg");
    background-color: transparent;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-size: cover;

    &:hover {
      @include hover;
    }
  }

  &__cross-icon {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -36px;
    top: -36px;

    &:hover {
      @include hover;
    }
  }

  &__line1, &__line2 {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $color;
    top: 50%;
    transform-origin: center;
  }

  &__line1 {
    transform: rotate(45deg);
  }

  &__line2 {
    transform: rotate(-45deg);
  }
}


@media screen and (max-width: 900px) {
  .video {
    height: 400px;

    &__fon {
      border-radius: 30px;
    }

  }
}

@media screen and (max-width: 600px) {
  .video {
    height: 300px;

    &__button {
      width: 80px;
      height: 80px;
    }
  }
}


@media screen and (max-width: 400px) {
  .video {
    height: 200px;

    &__button {
      width: 60px;
      height: 60px;
    }
  }
}

/* /video */

/* stud */
.stud {
  &__container {
    padding: 80px 10%;
    @include flex-column;
    gap: 64px;

    h1 {
      color: $color;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 46px;
  }

  img {
    object-fit: contain;
  }
}

@media screen and (max-width: 1000px) {
  .stud {
    &__container {
      gap: 44px;
    }

    &__group {
      gap: 26px;
    }
  }
}

@media screen and (max-width: 800px) {
  .stud {
    &__container {
      padding: 40px 50px;
      gap: 24px;
    }

    &__group {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .stud {
    &__container {
      padding-right: 20px;
      padding-left: 20px;
      gap: 24px;
    }
  }
}

@media screen and (max-width: 360px) {
  .stud {
    h1 {
      font-size: 30px;
    }
  }
}

/* /stud */

/* learn */
.learn {
  &__container {
    padding: 40px 10%;
    @include flex-column;
    gap: 96px;
  }

  &__items {
    @include flex-column;
    gap: 96px;
  }

  &__group {
    border-radius: 16px;
    box-shadow: 5px 3px 20px 0px rgba(221, 222, 215, 1);
    @include flex-row;
    gap: 100px;
    padding: 44px;

    &:nth-child(2n) {
      flex-direction: row-reverse !important;
    }
  }

  img {
    object-fit: contain;
    width: 480px;
  }

  &__item {
    @include flex-column;
    gap: 24px;
  }

  p {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .learn {
    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .learn {
    &__container {
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}


@media screen and (max-width: 1000px) {
  .learn {
    &__container {
      gap: 56px;
    }

    &__group {
      @include flex-column;
      gap: 50px;

      &:nth-child(2n) {
        flex-direction: column !important;
      }
    }

    &__items {
      gap: 56px;
    }
  }
}


@media screen and (max-width: 500px) {
  .learn {
    &__container {
      padding-right: 20px;
      padding-left: 20px;
      gap: 26px;
    }

    &__group {
      padding: 20px;
      gap: 20px;
    }

    &__items {
      gap: 26px;
    }
  }
}

/* /learn */

/*call */
.call {
  margin: 0 auto;
  background: $color;

  &__container {
    padding: 100px 9%;
    gap: 40px;
    @include flex-column;

    h1 {
      text-align: center;
    }
  }

  &__items {
    margin: 0 auto;
    @include flex-row;
    gap: 62px;
  }

  &__group {
    width: 40%;
    background-color: $colorThree;
    @include flex-column;
    gap: 32px;
    padding: 32px;
    border-radius: 32px;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
}


@media screen and (max-width: 1200px) {
  .call {
    &__container {
      padding-left: 50px;
      padding-right: 50px;
    }

    &__items {
      gap: 30px;
    }
  }
}


@media screen and (max-width: 1000px) {
  .call {
    &__items {
      @include flex-column;
      align-items: center;
    }

    &__group {
      width: 60%;
    }
  }
}


@media screen and (max-width: 700px) {
  .call {
    &__group {
      width: 320px;
    }
  }
}


@media screen and (max-width: 500px) {
  .call {
    &__container {
      padding: 50px 16px;
    }


    &__group {
      width: 280px;
      gap: 16px;
      padding: 16px;
    }

    img {
      height: 140px;
    }
  }
}

/* /call */

/* footer */
.footer {
  background: #DAD9DD;
  border-radius: 100px 100px 0 0;

  h2 {
    margin-bottom: 76px;
  }

  &__group {
    @include flex-column;
    gap: 24px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    border-radius: 50px 50px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    border-radius: 25px 25px 0 0;

    h2 {
      margin-bottom: 38px;
    }
  }
}

/* /footer */


/* time */
.time {
  &__container {
    padding: 84px 11% 120px;
    @include flex-row;
    gap: 74px;
  }

  &__img {
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__block {
    width: 50%;

    h1 {
      margin-bottom: 23px;
      color: $color;
    }

    p {
      margin-bottom: 79px;
    }
  }

  &__group {
    @include flex-row;
    gap: 16px;
    margin-bottom: 79px;

    span {
      background-color: $color;
      color: $colorTwo;
      width: 130px;
      height: 171px;
      @include flex-center;
    }

    div {
      @include flex-row;
      gap: 8px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .time {
    &__container {
      padding: 50px;
      gap: 50px;
    }

    &__block {
      width: 80%;

      p {
        margin-bottom: 49px;
      }
    }

    &__group {
      margin-bottom: 49px;

      span {
        width: 100px;
        height: 120px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .time {
    &__container {
      gap: 30px;
    }

    &__group {
      margin-bottom: 29px;

      span {
        width: 80px;
        height: 90px;
      }
    }

    &__block {
      width: 60%;

      p {
        margin-bottom: 29px;
      }
    }
  }
}

@media screen and (max-width: 813px) {
  .time {
    &__container {
      @include flex-column;
    }

    &__block {
      width: 100%;
    }

    &__img {
      text-align: center;

      img {
        width: 80%;
        height: auto;
      }
    }

    &__group {
      span {
        width: 60px;
        height: 70px;
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .time {
    &__container {
      padding-right: 16px;
      padding-left: 16px;
    }

    &__group {
      span {
        width: 55px;
        height: 65px;
      }
    }

    &__img {
      img {
        width: 100%;
      }
    }
  }
}

/* /time */


/* questions */
.questions {
  &__container {
    padding: 138px 9.5%;
    @include flex-column;
    gap: 56px;
  }

  h1 {
    color: $color;
  }

  &__blocks {
    @include flex-column;
  }

  &__block {
    @include flex-column;
  }

  &__group {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    border-bottom: 1px solid $colorSeven;

    &:hover {
      @include hover;
    }
  }

  &__arrow {
    padding: 13.5px 15.5px;
    @include flex-center;

    span {
      background-repeat: no-repeat;
      background-size: contain;
      height: 13px;
      width: 26px;
      background-image: url("/assets/img/questions/arrowUp.svg");
    }
  }

  &__body {
    display: none;
    flex-direction: row;
    background-color: $colorEight;
    border-bottom: 1px solid $colorSeven;
    align-items: center;
    gap: 44px;
    padding: 52px 26px 52px 16px;
  }

  &__img {
    img {
      height: auto;
      object-fit: cover;
    }
  }
}


@media screen and (max-width: 900px) {
  .questions {
    &__container {
      padding: 100px 50px;
      gap: 36px;
    }

    &__group {
      padding: 20px;
    }

    &__arrow {
      span {
        height: 10px;
        width: 20px;
      }
    }

    &__body {
      gap: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .questions {
    &__container {
      padding: 50px 16px;
      gap: 20px;
    }

    &__arrow {
      span {
        height: 8px;
        width: 15px;
      }
    }
  }
}

/* /questions */


/* about-us */
.about-us {
  &__container {
    background-color: $color;
    padding: 40px 10% 182px;
    @include flex-column;
    gap: 10px;
  }

  h1 {
    color: $colorThree;
  }

  &__block {
    @include flex-row;
    gap: 147px;
  }

  &__img {
    img {
      border-radius: 20px;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    @include flex-column;
    gap: 39px;
    padding: 140px 64px;
    background-color: $colorThree;
    width: 70%;
    border-radius: 20px;
  }

  &__item {
    @include flex-column;
    gap: 20px;
    width: 100%;

    input {
      padding: 10px;
      border-bottom: 1px solid $colorNine;
    }
  }

  &__checkbox {
    align-items: center;
    margin-top: 41px;
    margin-bottom: 41px;
    @include flex-row;
    gap: 39px;
  }

  button {
    width: 100%;
  }
}


@media screen and (max-width: 1680px) {
  .about-us {
    &__block {
      gap: 100px;
    }

    &__wrapper {
      width: 60%;
      padding: 60px 55px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .about-us {
    &__container {
      padding: 50px;
    }

    &__block {
      gap: 50px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .about-us {
    &__wrapper {
      gap: 20px;
      width: 80%;
      padding: 50px 50px;
    }

    &__checkbox {
      margin-top: 21px;
      margin-bottom: 21px;
    }
  }
}

@media screen and (max-width: 850px) {
  .about-us {
    &__block {
      align-items: center;
      @include flex-column;
    }

    &__img {
      text-align: center;

      img {
        width: 80%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    &__container {
      padding-right: 16px;
      padding-left: 16px;
    }
    &__wrapper {
      width: 90%;
      padding: 25px;
      gap: 15px;
    }
    &__checkbox {
      margin-top: 11px;
      margin-bottom: 11px;
    }
    &__item {
      gap: 15px;
    }
  }
}

/* /about-us */
input::placeholder {
  color: $colorTen;
}

[type="checkbox"] {
  width: 26px;
  height: 26px;
}


@media screen and (max-width: 1200px){
  [type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}


@media screen and (max-width: 600px){
  [type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}
