header(class="header")
    div(class="header__container")
        h4(class="b1") Trading academy
        div(class="header__block")
            p(class="b1") Flash sale: 10% off today
            div(class="header__time")
                div(id="minutes")
                    span(class="b1") 0
                    span(class="b1") 0
                div(class="b1") :
                div(id="seconds")
                    span(class="b1") 0
                    span(class="b1") 0
        div(class="header__group")
            span(class="b1") Use code:
            span(class="b1") Samplecode
