extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='Trading academy';
    - var description='Trading academy';
    - var pageClass='index-page';

block content

    section(class="banner")
        div(class="banner__container")
            div(class="banner__fon")
            h1(class="b2") Get you <span> $1k a week </span> with the most profitable skill ever
            div(class="video")
                div(class="video__fon active")
                button(class="video__button" type="button")
                div(class="video__cross-icon")
                    div(class="video__line1")
                    div(class="video__line2")
                video(class="video__play" controls)
                    source(src="assets/video.mp4" type="video/mp4")
            p(class="b1big") If you're totally new to trading, or you've been trading for a while & failed multiple funding challenges or blown accounts - this Ebook is for you.
            div(class="group")
                span
                button(class='button' type="submit")
                    div(class='b1' style="font-weight: 700") Get it Now for FREE
                span

    section(class="stud")
        div(class="stud__container")
            h1 Results from some of our Students
            div(class="stud__group")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")

    section(class="about-us")
        div(class="about-us__container")
            h1 Results from some of our Students
            div(class="about-us__block")
                div(class="about-us__img")
                    img(src="assets/img/iPad.jpg" alt="picture")
                form(class="about-us__wrapper" id="form-reg")
                    div(class="about-us__item")
                        label(for="exampleInputName1" class="form-label b1") First name
                        input(class="b1" name="name" type="text" id="exampleInputName1" placeholder="Enter First Name" minLength="3"  maxLength="40" required)
                    div(class="about-us__item")
                        label(for="exampleInputEmail1" class="form-label b1") Email
                        input(class="b1" name="email" type="email" id="exampleInputEmail1" placeholder="Enter First Name" minLength="6" maxLength="40" required)
                    div(class="about-us__item")
                        label(for="phone" class="form-label b1") Company
                        input(class="b1" name="phone" type="tel"  id="phone" placeholder="Phone" required)
                    div(class="about-us__checkbox")
                        input(type="checkbox" id="scales" name="scales" required checked)
                        label(class="p2" for="scales" id="checkboxLabel") I agree to pro aoshbvhudfbviuadhfuvbaduhvabdn
                    button(class='button' type="submit")
                        div(class='b1' style="font-weight: 700") Get it Now for FREE

    section(class="learn")
        div(class="learn__container")
            h1 What You'll Learn
            div(class="learn__items")
                div(class="learn__group")
                    img(src='/assets/img/learn/picOne.svg' alt="picture")
                    div(class="learn__item")
                        h2 Proven Trading Strategies
                        p(class="b1big") Discover the techniques used by successful traders to consistently make profit.Uncover the mechanics of day trading, swing trading, and other strategic approaches. Designed for traders at any skill level, it offers essential information to refine your strategy selection and implementation for market success.
                div(class="learn__group")
                    img(src='/assets/img/learn/picTwo.svg' alt="picture")
                    div(class="learn__item")
                        h2 Risk Management:
                        p(class="b1big") Learn how to protect your capital and minimise losses. Successful trading is not just about making money; it's equally about protecting and preserving your capital. Learn how to minimize trading losses and protect your trading capital through effective risk management techniques.
                div(class="learn__group")
                    img(src='/assets/img/learn/picThree.svg' alt="picture")
                    div(class="learn__item")
                        h2 Market Analysis:
                        p(class="b1big") Master the art of analysing market trends and making informed trading decisions that will maximise your profits in the Forex Market. It’s not only about checking the charts but also supporting it with fundamental analysis.
                div(class="learn__group")
                    img(src='/assets/img/learn/picFour.svg' alt="picture")
                    div(class="learn__item")
                        h2 Psychological Edge:
                        p(class="b1big") Develop the mindset of a successful trader and overcome common psychological pitfalls. By mastering your emotions and adhering to a disciplined trading plan, you can navigate the markets with focus and confidence, transforming yourself into a strategic and profitable trader.Become a Consistently Profitable Trader Managing $200,000+ in Capital & Build Your Full-Time Trading Career (even as a beginner)

    section(class="time")
        div(class="time__container")
            div(class="time__img")
                img(src="/assets/img/iPad.jpg" alt="picture")
            div(class="time__block")
                h1 Limited time offer
                p(class="b1big") If you get our FREE Ebook today, you’ll get a chance to have a training call with one of our expert traders. After downloading the Ebook, you'll be forwarded to the page where you can set up a call with our investment experts.
                div(class="time__group")
                    div(id="minutesTwo")
                        span(class="s1") 0
                        span(class="s1") 0
                    div(class="s1") :
                    div(id="secondsTwo")
                        span(class="s1") 0
                        span(class="s1") 0
                button(class='button button__time' type="submit")
                    div(class='b1' style="font-weight: 700") Get it Now for FREE

    section(class="call")
        div(class="call__container")
            h1 What You’ll get with this Coaching Call
            div(class="call__items")
                div(class="call__group")
                    img(src='/assets/img/call/picOne.svg' alt="picture")
                    h3 Personalized  ance:
                    p(class="b1") Schedule a one-on-one session with one of our expert traders. This is your opportunity to get tailored advice, ask specific questions, and receive actionable insights that can immediately improve your trading performance.
                div(class="call__group")
                    img(src='/assets/img/call/picTwo.svg' alt="picture")
                    h3 Expert Analysis:
                    p(class="b1") During the call, our expert will analyze your current trading strategies, identify areas for improvement, and provide you with a customized plan to enhance your trading results.
                div(class="call__group")
                    img(src='/assets/img/call/picThree.svg' alt="picture")
                    h3 Goal Setting:
                    p(class="b1") Work with our expert to set realistic and achievable trading goals. Learn how to create a roadmap to reach your financial targets and stay on track.
        div(class="group group__container")
            span
            button(class='button' type="submit")
                div(class='b1' style="font-weight: 700") Get it Now for FREE
            span
    section(class="questions")
        div(class="questions__container")
            h1(id="quote") Any more qestions?
            div(class="questions__blocks")

                div(class="questions__block")
                    div(class="questions__group")
                        p(class="b1big") How long will it take to get results?
                        div(class="questions__arrow")
                            span
                    div(class="questions__body")
                        div(class="questions__img")
                            img(src="/assets/img/questions/Arrow 2.svg")
                        p(class="b1") If you dedicate between 1 to 2 hours a day and follow all the indications that are in the program, you should get your first results in 3 months.

                div(class="questions__block")
                    div(class="questions__group")
                        p(class="b1big") Will it work for me?
                        div(class="questions__arrow")
                            span
                    div(class="questions__body")
                        div(class="questions__img")
                            img(src="/assets/img/questions/Arrow 2.svg")
                        p(class="b1") If you dedicate between 1 to 2 hours a day and follow all the indications that are in the program, you should get your first results in 3 months.

                div(class="questions__block")
                    div(class="questions__group")
                        p(class="b1big") What if I don´t have much money to invest?
                        div(class="questions__arrow")
                            span
                    div(class="questions__body")
                        div(class="questions__img")
                            img(src="/assets/img/questions/Arrow 2.svg")
                        p(class="b1") With only $10 USD you can start, either with your own account or by buying a funding account as explained in the video, and be able to access 25k – 50k – 100k capitals.

                div(class="questions__block")
                    div(class="questions__group")
                        p(class="b1big") What if I don´t know anything about financial markets?
                        div(class="questions__arrow")
                            span
                    div(class="questions__body")
                        div(class="questions__img")
                            img(src="/assets/img/questions/Arrow 2.svg")
                        p(class="b1") With only $10 USD you can start, either with your own account or by buying a funding account as explained in the video, and be able to access 25k – 50k – 100k capitals.
block script
