extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='Binorix';
    - var description='Binorix';
    - var pageClass='index-page';

block content

    section(class="banner")
        div(class="banner__container")
            div(class="banner__fon")
            h1(class="b2") Get you <span> $1k a week </span> with the most profitable skill ever
            div(class="video")
                div(class="video__fon")
                button(class="video__button" type="button")
                //video(class="video__play" controls)
                //    source(src="assets/video.mp4" type="video/mp4")
            p(class="b1big") If you're totally new to trading, or you've been trading for a while & failed multiple funding challenges or blown accounts - this Ebook is for you.
            div(class="group")
                span
                button(class='button')
                    div(class='b1' style="font-weight: 700") Get it Now for FREE
                span



    section(class="stud")
        div(class="stud__container")
            h1 Results from some of our Students
            div(class="stud__group")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")
                div(class="stud__img")
                    img(src="/assets/img/stud/picTwo.jpg" alt="picture")

    section(class="learn")
        div(class="learn__container")
            h1 What You'll Learn
            div(class="learn__items")
                div(class="learn__group")
                    img(src='/assets/img/learn/picOne.svg' alt="picture")
                    div(class="learn__item")
                        h2 Proven Trading Strategies
                        p(class="b1big") Discover the techniques used by successful traders to consistently make profit.Uncover the mechanics of day trading, swing trading, and other strategic approaches. Designed for traders at any skill level, it offers essential information to refine your strategy selection and implementation for market success.
                div(class="learn__group")
                    img(src='/assets/img/learn/picTwo.svg' alt="picture")
                    div(class="learn__item")
                        h2 Risk Management:
                        p(class="b1big") Learn how to protect your capital and minimise losses. Successful trading is not just about making money; it's equally about protecting and preserving your capital. Learn how to minimize trading losses and protect your trading capital through effective risk management techniques.
                div(class="learn__group")
                    img(src='/assets/img/learn/picThree.svg' alt="picture")
                    div(class="learn__item")
                        h2 Market Analysis:
                        p(class="b1big") Master the art of analysing market trends and making informed trading decisions that will maximise your profits in the Forex Market. It’s not only about checking the charts but also supporting it with fundamental analysis.



                div(class="learn__group")
                    img(src='/assets/img/learn/picFour.svg' alt="picture")
                    div(class="learn__item")
                        h2 Psychological Edge:
                        p(class="b1big") Develop the mindset of a successful trader and overcome common psychological pitfalls. By mastering your emotions and adhering to a disciplined trading plan, you can navigate the markets with focus and confidence, transforming yourself into a strategic and profitable trader.Become a Consistently Profitable Trader Managing $200,000+ in Capital & Build Your Full-Time Trading Career (even as a beginner)

    section(class="time")
        div(class="time__container")
            div(class="time__img")
                img(class="time__img-one" src="/assets/img/iPad.jpg" alt="picture")
            div(class="time__block")
                h1 Limited time offer
                p(class="b1big") If you get our FREE Ebook today, you’ll get a chance to have a training call with one of our expert traders. After downloading the Ebook, you'll be forwarded to the page where you can set up a call with our investment experts.
                div(class="time__group")

                button(class='button')
                    div(class='b1' style="font-weight: 700") Get it Now for FREE

    section(class="call")
        div(class="call__container")
            h1 What You’ll get with this Coaching Call
            div(class="call__items")
                div(class="call__group")
                    img(src='/assets/img/call/picOne.svg' alt="picture")
                    h3 Personalized  ance:
                    p(class="b1") Schedule a one-on-one session with one of our expert traders. This is your opportunity to get tailored advice, ask specific questions, and receive actionable insights that can immediately improve your trading performance.
                div(class="call__group")
                    img(src='/assets/img/call/picTwo.svg' alt="picture")
                    h3 Expert Analysis:
                    p(class="b1") During the call, our expert will analyze your current trading strategies, identify areas for improvement, and provide you with a customized plan to enhance your trading results.
                div(class="call__group")
                    img(src='/assets/img/call/picThree.svg' alt="picture")
                    h3 Goal Setting:
                    p(class="b1") Work with our expert to set realistic and achievable trading goals. Learn how to create a roadmap to reach your financial targets and stay on track.
block script
