@import "vars";

@font-face {
  font-family: "Urbanist";
  font-weight: $fontWeightBold;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/Urbanist-Bold.woff2') format("woff2"),
  url('/assets/fonts/Urbanist-Bold.woff') format("woff"),
  url('/assets/fonts/Urbanist-Bold.ttf') format("ttf");
}


@font-face {
  font-family: "Urbanist";
  font-weight: $fontWeightMedium;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/Urbanist-Medium.woff2') format("woff2"),
  url('/assets/fonts/Urbanist-Medium.woff') format("woff"),
  url('/assets/fonts/Urbanist-Medium.ttf') format("ttf");
}

@font-face {
  font-family: "Urbanist";
  font-weight: $fontWeightSemiBold;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/Urbanist-SemiBold.woff2') format("woff2"),
  url('/assets/fonts/Urbanist-SemiBold.woff') format("woff"),
  url('/assets/fonts/Urbanist-SemiBold.ttf') format("ttf");

}
