/* Vars:
   ========================================================================== */

// Font
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

// Size


/*
 All colors taken from:
*/
 
// Color
$color: #1A1722;
$colorTwo: #DBFF00;
$colorThree: #FFFFFF;
$colorFour: #F1FCAE;
$colorFive: #5D5D5D;
$colorSix: #211F26;
$colorSeven: #D6D6D6;
$colorEight: #F8FFCE;
$colorNine: #383838;
$colorTen: #D4D4D4;

