/* Vars:
   ========================================================================== */

// Font
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

// Size


/*
 All colors taken from:
*/
 
// Color
$color: #1A1722;
$colorTwo: #DBFF00;
$colorThree: #FFFFFF;
